body {
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  background-color: hsl(30, 54%, 90%);
  margin: 0;
}

table, caption, tbody, tfoot, thead, tr, th, td {
  all: unset;
}

h1, h2 {
  font-family: "Young Serif", serif;
}

h2 {
  color: hsl(14, 45%, 36%);
}

p, li {
  font-size: 16px;
  font-weight: 400;
  color: hsl(30, 10%, 34%);
}

li > .label {
  font-weight: 600;
  color: hsl(24, 5%, 18%);
}

.recipe-article {
  background-color: hsl(0, 0%, 100%);
  padding-bottom: 38px;
}

.recipe-article > *:not(.recipe-image-container) {
  margin-inline: 28px;
}

.recipe-image {
  max-width: 100%;
  height: auto;
}

.recipe-title {
  line-height: 38px;
  font-size: 37px;
  font-weight: 400;
  color: hsl(24, 5%, 18%);
}

.recipe-description {
  line-height: 1.5rem;
}

.preparation-time-section {
  margin-top: 32px;
  margin-bottom: 26px;
  padding: 4px 26px 8px 26px;
  border-radius: 16px;
  background-color: hsl(330, 100%, 98%);

  .preparation-time-list {
    padding-left: 19px;
    list-style: disc;
  }

  h3 {
    font-weight: 600;
    font-size: 20px;
    color: hsl(332, 51%, 32%);
  }

  li {
    margin-block: 12px;
    padding-left: 22px;
  }

  li::marker {
    color: hsl(332, 51%, 32%);
    font-size: 14px;
    font-weight: 600;
  }
}

.ingredients-section {
  li {
    margin-block: 12px;
    padding-left: 22px;
  }

  .ingredients-list {
    padding-left: 22px;
  }

  li::marker {
    color: hsl(14, 45%, 36%);
    font-size: 14px;
    font-weight: 600;
  }
}

.instructions-section {
  li {
    margin-block: 12px;
    padding-left: 23px;
  }

  .instructions-list {
    padding-left: 24px;
  }

  li::marker {
    color: hsl(14, 45%, 36%);
    font-size: 16px;
    font-weight: 600;
  }
}

.section-divider {
  border: none;
  border-top: 1px solid hsl(30, 18%, 87%);
  margin-block: 32px;
}

.nutrition-table {
  caption {
    color: hsl(30, 10%, 34%);
    font-size: 16px;
    font-weight: 400;
    padding-right: 5px;
  }

  th {
    color: hsl(30, 10%, 34%);
    font-weight: 400;
  }

  td {
    color: hsl(14, 45%, 36%);
  }

  td {
    font-weight: 600;
  }

  tr::after {
    border-bottom: 1px solid hsl(30, 18%, 87%);
    display: block;
  }
  
  tr {
    display: grid;
    grid-template-columns: 5fr 6fr;
    margin-block: 12px;
  }

  tbody {
    display: block;
    margin-top: 24px;
  }

  .row-divider {
    border-bottom: 1px solid hsl(30, 18%, 87%);
  }

  tr:not(.row-divider) {
    margin-left: 32px;
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (min-width: 640px) {
  .recipe-article > * {
    margin-inline: 38px !important;
  }

  .recipe-title {
    margin-top: 32px;
    margin-bottom: 22px;
    font-size: 41px;
  }

  body {
    width: 90%;
    max-width: 730px;
    margin-inline: auto;
    margin-bottom: 22px;
  }

  .recipe-article {
    border-radius: 24px;
    margin-top: 100px;
    margin-bottom: 48px;
  }

  .recipe-image {
    margin-top: 38px;
    border-radius: 8px;
  }
}